<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>{% block title %}{% endblock %} - Nic Howe</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <div id="side-container">
    <div class="summary">
        <img src="../static/images/me.png" width="250" height="250" id="me">
        <header>
            {% block header %}{% endblock %}
        </header>
        <p style="text-align: center">Musician, Writer, Computer Scientist</p>
    </div>

        <nav class="side-menu">
            <ul style="list-style: none">
                <a class="tag" id="aboutMe" href="/"><li>About Me</li></a>
                <a class="tag" id="aboutSite" href="/aboutsite"><li>About This Site</li></a>
                <a class="tag" id="exper" href="/experience"><li>Experience</li></a>
                <a class="tag" id="skills" href="/skills"><li>My Skills</li></a>
                <a class="tag" id="folio" href="/writing"><li>Writing Portfolio</li></a>
                <a class="tag" id="music" href="/music"><li>Music</li></a>
                <a class="tag" id="contact" href="/contact"><li>Contact Me</li></a>
            </ul>
        </nav>
</div>

<div id="masthead">
    <h2 style="text-align: center">Full Stack Web Developer; Game Developer and Designer; Writer and Musician</h2>
    <div class="sub-heading">
        <a href="https://www.github.com/nichow"><img id="git" src="../static/images/Github.svg" width="32" height="32"></a>
        <a href="https://www.linkedin.com/in/nicolas-garcia-4b0541140/"><img id="linked" src="../static/images/Linkedin.svg" width="32" height="32"></a>
        <a href="https://www.facebook.com/nichoww"><img id="facebook" src="../static/images/Facebook.svg" width="32" height="32"></a>
        <a href="https://www.twitter.com/nich0w"><img id="twitter" src="../static/images/Twitter.svg" width="32" height="32"></a>
        <a href="https://www.instagram.com/nichowisdead"><img id="insta" src="../static/images/Instagram.svg" width="32" height="32"></a>
    </div>
</div>
</nav>

<section class="content">
    {% block content %}{% endblock %}
</section>

</html>