<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>{% block title %}{% endblock %} - Nic Howe</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <div id="side-container">
    <div class="summary">
        <img src="../static/images/me.png" width="250" height="250" id="me">
        <header>
            {% block header %}{% endblock %}
        </header>
        <p style="text-align: center">Musician, Writer, Computer Scientist</p>
    </div>

        <nav class="side-menu">
            <ul id="navigation" style="list-style: none">
            {% for item in navigation %}
                <li><a class="tag" id="{{ item.id }}" href="{{ item.href }}">{{ item.text }}</a></li>
            {% endfor %}
            </ul>
        </nav>
</div>

<div id="masthead">
    <h2 style="text-align: center">Full Stack Web Developer; Game Developer and Designer; Writer and Musician</h2>
    <div class="sub-heading">
        {% for item in subheading %}
            <a href="{{ item.href }}"><img id="{{ item.id }}" src="{{ item.src }}" width="32" height="32"></a>
        {% endfor %}
    </div>
</div>
</nav>

<section class="content">
    {% block content %}{% endblock %}
</section>

</html>