<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}My Experience{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="main-container">
        <h1 style="text-align: center; font-weight: bold">Web Development</h1>
        <h2>
            From March of 2018 I've been the front-end developer at the growth team of
            DeSales Media Group. We are a media-marketing group who's chief client is the Diocese
            of Brooklyn and Queens. My team is responsible for increasing engagement among
            Catholics in Brooklyn and Queens using modern marketing tactics.
        </h2>
        <h2>
            From July 2017 to January 2018 I was a student developer for NYU IT's Student team,
            and I headed the development on a web application designed to help students find
            empty study locations at NYU. Using sensors from <a href="density.io">density.io</a>,
            and a full MEAN stack I created <a href="occupancy.nyu.edu">NYU Occupancy</a>.
        </h2>

        <h1 style="text-align: center; font-weight: bold">Game Development</h1>
        <h2>
            Through the Game Center at NYU I've worked with Unity, and have made a simple game. I am currently working on more robust projects
            <a href="http://nichow.itch.io">My itch.io Page</a> <br>
            I have also been apart of teams who have designed tabletop games! Here are a couple examples:
        </h2>
        <ul>
            <li><a href="../static/documents/Descriptionary.pdf">Descriptionary!</a></li>
            <li><a href="../static/documents/goblins.pdf">Goblin Swinger Party</a></li>
        </ul>
    </div>
{% endblock %}
</html>