<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Nic Howe{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="main-container">
        <div id="aboutMeText">
            <h1>
                I am Nicolas (Nic) Howe. Computer and game enthusiast.
            </h1>
            <h2>
                Currently studying computer science at New York University
                through the Courant Institute of Mathematical Sciences.
                Additionally, I study game design and creative writing also
                through NYU.
            </h2>
            <h2>
                I've been in love with computers since I was a small child
                curiously searching the internet to figure out how they worked.
                I self-taught myself programming throughout high school and did
                work on rudimentary games in my spare time.
            </h2>
            <h2>
                Additionally, I've been writing short stories and poetry since
                elementary school, and have carried that through to university.
                Examples of my work can be found on this very site!
            </h2>
            <h2>
                I have been playing guitar for six years and bass for two years.
                I have released professionally recorded material with a band and
                am currently working on self-produced material.
            </h2>
            <h2>
                I am an experienced web developer and game developer. I have
                worked both by myself and with a team using agile workflow tools.
            </h2>
            <h2 style="text-align: center">
                Feel free to explore!
            </h2>
        </div>
    </div>
{% endblock %}
</html>