<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Nic Howe{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="main-container">
        <div id="aboutMeText">
            <h1>
                Hello! I am Nic Howe Garcia. Currently a Front-End Developer
                for the growth team at DeSales Media Group.
            </h1>
            <h2>
                I've been a computer enthusiast almost my entire life. Ever since
                being endlessly curious when it came to how the things I was downloading
                onto my computer were working. I had an early realization that everything
                I was using on the computer was made by someone; nothing had just come out
                of the blue the same way it had for me. That sparked something in me and
                I've been interested in software development ever since.
            </h2>
            <h2>
                I graduated from New York University with my Bachelor's in Computer Science
                in December of 2018. This was a culmination of years of effort that started by
                self-teaching myself python in middle school. Primarily starting with both the
                artistic and technical sides of game development. This naturally took me to
                wanting to know how to build large and efficient applications. I've put a lot of
                work into learning how to squeeze performance out of the environment I develop for,
                from learning practices for developing on large scale server applications to
                desktop grade multicore processors including graphics processors.
            </h2>
            <h2>
                As a front-end developer I take pride in knowing how the work I am doing
                is interacting with the browser and how I can develop to increase performance
                for the user, and make their experience with the website as smooth and fast as
                possible.
            </h2>
            <h2>
                As a part of my NYU degree I also achieved minors in game design and
                creative writing. I never lost neither my passion when it comes to games nor
                telling stories. I personally believe that games have mountains of untapped
                potential when it comes to interactive storytelling; games can do things that
                no other medium can when it comes to immersing someone in a created world.
            </h2>
            <h2 style="text-align: center">
                Please, if you have any inquiries, shoot me an email at
                <a href="mailto:nichowe.garcia@gmail.com">nichowe.garcia@gmail.com</a>,
                or contact me using any of the social media links!
            </h2>
        </div>
    </div>
{% endblock %}
</html>