<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}My Skills{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="main-container">
        <h1>Programming Languages</h1>
        <h2>I would consider myself proficient in the following languages:</h2>
            <ul class="my-skills">
                <li>C and C++, along with the Open MPI, OpenMP, and CUDA libraries</li>
                <li>C# and the .NET Framework</li>
                <li>Python 2 and 3, along with libraies like NumPy, OpenCV, Flask and Django</li>
                <li>Java</li>
                <li>JavaScript ECMA 6+ and TypeScript</li>
                <li>JS based frameworks like Node, Angular and Vue, as well as jQuery</li>
                <li>RDBMSes including PostgreSQL and MySQL</li>
                <li>NoSQL DBMSes including Mongo</li>
                <li>HTML5 and CSS3 and use of templating systems, as well as Sass/SCSS</li>
            </ul>

        <h1>Other computing skills</h1>
        <h2>Intimately familiar with the Unity game engine, knowledgeable about computer
            architecture and hardware. Staunch believer in the value of a comprehensive
            IDE. I'm not someone who does all their work in Vim. User and abuser of
            debugging tools.</h2>

    </div>
{% endblock %}
</html>