<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}My Skills{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="main-container">
        <h1>Programming Languages</h1>
        <h2>I would consider myself proficient in the following languages:</h2>
            <ul class="my-skills">
                <li>C</li>
                <li>C++</li>
                <li>C# (and the general .NET framework)</li>
                <li>Python (including Django and Flask)</li>
                <li>Java</li>
                <li>Javascript (including node.js, Angular 1.X and Angular 5/6, Ember.js, jQuery, and others)</li>
                <li>MySQL and PostgreSQL</li>
                <li>Mongo and other NoSQL database tools</li>
                <li>HTML and CSS3, including Handlebars and Jinja</li>
            </ul>

        <h1>Other computing skills</h1>
        <h2>Outside of strictly programming languages, I am proficient in the Unity game engine, all common operating systems (namely Windows, OSX, and Ubuntu Linux) <br>
            I am experienced in the use of agile workflow tools such as Trello or YouTrack <br>

            I am fully competent in Microsoft Word, Excel, and PowerPoint</h2>

    </div>
{% endblock %}
</html>