<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}My Writing{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="main-container">
        <h2>
            I enjoy writing short fiction stories! Please give them a read if you will,
            writing has been something I've loved doing since I was very young, and I will
            continue to do it for the rest of my life. It's a very important hobby for me,
            and I hope you enjoy what I have written so far!
        </h2>

        <ul>
            {% for item in stories %}
                <li><a href="{{ item.href }}">{{ item.text }}</a></li>
            {% endfor %}
        </ul>

        <h2>
            I also occasionally compose extended arguments concerning games and game design,
            here are a few choice examples of what I've written.
        </h2>

        <ul>
            {% for item in essays %}
                <li><a href="{{ item.href }}">{{ item.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
</html>