<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}My Writing{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="main-container">
        <h2>
            Much of my writing can be found on my <a href="http://derivativetrash.tumblr.com">Tumblr</a>. I would consider myself a fiction writer first and foremost; <br>
            however the tumblr blog is mostly focused on my poetry. It is all very stream of consciousness, and I rarely<br>
            think twice before posting something. I try not to take it too seriously, and just try to express myself the best I can. <br>

            Here are some more examples of my fiction writing: none of these are even close to complete, they're just small things that <br>
            I am working on:
        </h2>

        <ul>
            <li><a href="../static/documents/Periphery.pdf">Periphery</a></li>
            <li><a href="../static/documents/ComingHome.pdf">Coming Home</a></li>
            <li><a href="../static/documents/musings.pdf">The Musings of an Anxiety Ridden Mind High on Marijuana</a></li>
            <li><a href="../static/documents/chess.pdf">An Un-Named Story about a Man Who Likes Chess</a></li>
            <li><a href="../static/documents/kaela.pdf">An Un-Named Story about a Normal Girl in a Strange Land</a></li>
        </ul>

        <h2>
            I also occasionally attempt to write intelligently about games, here are some examples:
        </h2>

        <ul>
            <li><a href="../static/documents/catan.pdf">Settlers of Catan analysis</a></li>
            <li><a href="../static/documents/doom.pdf">DOOM (2016) analysis</a></li>
            <li><a href="../static/documents/Dark%20Souls.pdf">Dark Souls gameplay analysis</a></li>
            <li><a href="../static/documents/Dark%20Souls%202.pdf">Dark Souls; or, Throwing Stones in a Glass House</a></li>
            <li><a href="https://www.youtube.com/watch?v=BRq8OLfRu_M">A video version of the above paper</a></li>
        </ul>
    </div>
{% endblock %}
</html>